.users-create{
    max-height: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 52px;
    row-gap: 24px;
    position: relative;
    overflow: hidden;
}
.users-create_body{
    margin-top: calc(48px + 24px);
    height: calc(100% - 48px - 24px);
    background-color: #DEE2E6;
    overflow-y: auto;
    padding: 16px;
    display: grid;
    row-gap: 28px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, min-content);
}
.users-create_footer{
    justify-self: flex-end;
    display: flex;
    align-items: center;
    column-gap: 14px;
    height: 100%;
}
.users-create_footer-btn{
    height: 100%;
    border-radius: 6px;
    padding: 0 32px;
    border: 1px solid #343A40;
    font-size: 16px;
}
.users-create_body-label{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 14px;
}
.users-create_body-label_input{
    width: 380px;
    height: 48px;
    padding: 0 18px;
    font-size: 16px;
    outline: none;
}
.common-input_with-btn_wrapper{
    display: flex;
    align-items: center;
    column-gap: 14px;
}
.common-button-for-input-content{
    width: fit-content;
    height: 100%;
    padding: 0 14px;
    background-color: #F8F9FA;
    border: 1px solid #b0b0b0;
    cursor: pointer;
}
.users-create_body-label_input-select{
    width: 380px;
    height: 48px;
}
.common-button-content{
    width: fit-content;
    padding: 16px 36px;
    background-color: #F8F9FA;
    border: 1px solid #b0b0b0;
    cursor: pointer;
}