@font-face {
    font-family: 'Neue Montreal';
    src: url('./fonts/NeueMontreal-Medium.eot');
    src: url('./fonts/NeueMontreal-Medium.eot') format("embedded-opentype"),
         url('./fonts/NeueMontreal-Medium.woff2') format("woff2"),
         url('./fonts/NeueMontreal-Medium.woff') format("woff"),
         url('./fonts/NeueMontreal-Medium.ttf') format("truetype");
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Neue Montreal', sans-serif;
    color: black;
}
.heading{
    font-size: 24px !important;
}
.white{
    color: white;
}
a{
    text-decoration: none;
}
button{
    border: none;
    background-color: transparent;
}
.title {
    font-size: 80px!important;
    font-weight: bold;
    line-height: 100%;
}
.heading-smaller {
    font-size: 40px!important;
    font-style: normal;
    font-weight: 700;
}
.body-text-bigger {
    font-size: 30px!important;
    line-height: 100%;
}
.body-text-small-bigger {
    font-size: 24px!important;
}
.body-text {
    font-size: 18px!important;
    line-height: 120%;
}
.thin {
    font-weight: normal;
}